.badge-disabled {
    background-color: #eee;
}

.button-list-item {
    background: none;
    border: 1px solid grey;
    border-radius: 0;
    text-align: left;
    width: 100%;
    margin-bottom: -1px;
}

.text-ghosted {
    color: #ddd;
}