.badge-disabled {
    background-color: #ddd;
}

.button-list-item {
    background: none;
    border: 1px solid grey;
    border-radius: 0;
    text-align: left;
    width: 100%;
    margin-bottom: -1px;
}

.text-ghosted {
    color: #ccc;
}

.dialog-file-list {
    max-height: 300px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}