<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap4-dialog/dist/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-vue/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="/common/css/style.css">

  </head>

  <body class="p-md-3 p-1 mr-3 mr-md-0">

    <!-- Github -->
    <a href="https://github.com/pbauermeister/MathVue" target="_blank">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
	   src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
	   alt="Fork me on GitHub">
    </a>

    <h1>MathVue Webassembly</h1>

    <div id="app">
      With Bootstrap v4, Vue.js v2.5, Node.js v8, WebAssembly (Wasm), Enscripten (emcc).

      <!-- Formula -->
      <div class="row">
        <div class="col-md-6 pt-3">
          <h2>Formula</h2>

	  <div style="height: 300px">
            <editor style="font-size: 0.75rem;"
		    ref="formulaEditor"
		    editor-id="formulaEditor"
		    :content="formula"
		    v-on:change-content="changeEditorContent">
	    </editor>
	  </div>
          <textarea v-model="errorText"
                    class="error-textarea"
		    :class="error ? 'error' : ''"
		    disabled
		    rows="5">
	  </textarea>

	  <div>
	    <button class="btn btn-sm btn-primary"
		    v-on:click="run">Run</button>
            <button class="btn btn-sm btn-primary"
		    v-on:click="pause"
		    v-show="running">Pause</button>
            <button class="btn btn-sm btn-primary"
		  v-on:click="resume"
		    v-show="!running">Resume</button>
          </div>
	</div>

        <!-- Canvas -->
        <div class="col-md-6 pt-3">
          <h2>Canvas</h2>
          <div style="display: inline-block">
	    <canvas id="canvas" width="500" height="300"
                    style="border: 1px solid lightgrey; max-width:100%">
            </canvas>
            <br/>

	    <!-- buttons -->
	    <div class="canvas-controls">
	      <a class="mr-1"
		 v-show="loading">
		<i class="fas fa-circle-notch fa-spin"
		   aria-hidden="true"></i>
	      </a>
	      <a style="cursor:pointer" class="mr-1"
		 v-show="!loading && running"
		 v-on:click="pause"
		 >
		<i class="fa fa-pause" aria-hidden="true"></i>
	      </a>
	      <a style="cursor:pointer" class="mr-1"
		 v-show="!loading && !running"
		 v-on:click="resume">
		<i class="fa fa-play" aria-hidden="true"></i>
	      </a>

	      <div class="float-right">
		<span class="mx-1 text-muted small">
		  <span v-if="fps">{{ fps }} fps</span>
		  <span v-else>Computing fps...</span>
		</span>
		<a id="fullScreenButton"
		   class="ml-1"
		   style="cursor:pointer" title="Full screen"
		   v-on:click="fullScreen">
		  <i class="fa fa-expand" aria-hidden="true"></i>
		</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <br/>

      <StatusDialog ref="status_dialog"></StatusDialog>

      <!-- Help Panel -->
      <Help markdown_path="/wasm/help.md"></Help>

      <!-- Discussion -->
      <div class="row pt-3">
        <div class="col-md-12">
	  <!-- Discussion></Discussion -->
        </div>
      </div>
    </div>

    <!-- jQuery, bootstrap, vue, etc -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/bootstrap4-dialog/dist/js/bootstrap-dialog.min.js"></script>

    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="/node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>

    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/node_modules/showdown/dist/showdown.min.js"></script>
    <!-- script src="https://rawgit.com/ajaxorg/ace-builds/master/src-min-noconflict/ace.js"></script -->
    <script src="/assets/ace/ace.js"></script>

    <!-- Our app's code -->
    <script src="/common/js/component_help.js"></script>
    <script src="/common/js/component_discussion.js"></script>
    <script src="/common/js/component_statusdialog.js"></script>
    <script src="/common/js/component_editor.js"></script>
    <script src="/wasm/app.js"></script>
  </body>
</html>
